/********************COMMON******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.pd-05 {
    padding: 0.5rem;
}

.pd-1 {
    padding: 1rem;
}

.pd-4 {
    padding: 4rem;
}

.margin-t2 {
    margin-top: 2rem;
}

.margin-b1 {
    margin-bottom: 1rem;
}

.margin-b2 {
    margin-bottom: 2rem;
}

.gap-1 {
    gap: 1rem;
}

.flex {
    display: flex;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.w-cont {
    width: fit-content;
}

.b-rad {
    border-radius: 50%;

}

.txt-center {
    text-align: center;
}

.line_1-5 {
    line-height: 1.5rem;
}

.center {
    justify-content: center;
    align-items: center;
}

.al-center {
    align-items: center;
}

/***************************COLORS*****************/

.bg-white {
    background-color: white;
}

.bg-purp {
    background-color: #9593e6;
}

.bg-blue {
    background-color: rgba(0, 132, 253, 0.5);
}

.bg-blue2 {
    background-color: #0084fd;
}

.bg-black {
    background-color: #222;
}

.color-white {
    color: white;
}

.color-purp {
    color: #9593e6;
}

.color-blue {
    color: #0084fd;
}

.color-orange {
    color: orange;
}

/*************************HEADER*****************/

.head-menu {
    position: fixed;
    background-color: #0084fd;
    color: white;
    justify-content: space-between;
    z-index: 999;
}

/**************************MAIN*****************/

main {
    padding-top: 5rem;
}

.boxed-container {
    flex-direction: column;
    justify-content: center;
}

.card {
    flex-direction: column;
    gap: 1rem;
    border-radius: 20px;
    width: 90%;
}

.left {
    flex-direction: column;
}

.right {
    transform: translateY(1rem);
}

.button {
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
}

.icon {
    font-size: 5rem;
}

.title {
    font-size: 2.5rem;
}

.testimonial {
    width: 30%;
    flex-direction: column;
}

.test-img {
    height: 100px;
}


/************************MEDIA**********************/

@media screen and (min-width: 480px) {
    .one {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .small {
        width: 30%;
    }
    .big {
        width: calc(60% + 1rem);
    }
    .benefits {
        width: calc(50% - 1rem);
    }
    .about-us {
        width: calc(50% - 1rem);
    }
    .testimonial {
        width: 24%;
    }
    .testimonial-caption {
        width: 50%;
        text-align: left;
    }
    .test-img {
        height: 125px;
    }
    .row {
        flex-direction: row;
        justify-content: space-evenly;
    }


}

@media screen and (min-width: 768px) {
    .boxed-container {
        width: 1200px;
        margin: 0 auto;
    }
    .two {
        flex-direction: row;
    }
    .button {
        width: 30%;
    }
    .big {
        flex-direction: row;
    }
    .left {
        width: calc(45% - 1rem);
    }
    .right {
        width: calc(36% - 1rem);
    }
    .testimonial {
        width: 20%;
    }
    .test-img {
        height: 194px;
    }
}