/********************COMMON******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pd-1 {
    padding: 1rem;
}

.pd-4 {
    padding: 4rem;
}

.margin-t2 {
    margin-top: 2rem;
}

.margin-b1 {
    margin-bottom: 1rem;
}

.margin-b2 {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

/***************************COLORS*****************/

.bg-white {
    background-color: white;
}

.bg-purp {
    background-color: #9593e6;
}

.bg-blue {
    background-color: rgba(0, 132, 253, 0.5);
}

.bg-black {
    background-color: #222;
}

.color-white {
    color: white;
}

.color-purp {
    color: #9593e6;
}

/*************************HEADER*****************/

.head-menu {
    position: fixed;
    background-color: #0084fd;
    color: white;
    justify-content: space-between;
}

/**************************MAIN*****************/

main {
    padding-top: 5rem;
}

.boxed-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/************************MEDIA**********************/

@media screen and (min-width: 480px) {
    .one {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .small {
        width: 30%;
    }
    .big {
        width: calc(60% + 1rem);
    }
    .benefits {
        width: calc(50% - 1rem);
    }
    .about-us {
        width: calc(50% - 1rem);
    }

}

@media screen and (min-width: 768px) {
    .boxed-container {
        width: 1200px;
        margin: 0 auto;
    }
    .two {
        flex-direction: row;
    }
}